body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('/background.png');
  background-color: #06031c;
  transform-style: preserve-3d;
  perspective: 10rem;
  perspective-origin: top;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}
